.home_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home_page h3 {
    font-size: 2rem;
    font-weight: lighter;
    color: black;
}
.home_page p{
    font-size: 1.5rem;
line-height: 25px;
font-style: italic;
}
.name span {
    font-size: 3rem;
    color: var(--perpale);
}
.post {
    padding: 1rem 0;
}
.post span {
    font-size: 3rem;
}
