.header-container {
  position: fixed;
  top: 3rem;
  left: 5rem;
  bottom: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 2rem;
  width: 34rem;
  height: 52rem;
  background-color: white;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
#menubar {
  font-size: 1.8rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.user img {
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.2);
}
.user .name {
  font-size: 2rem;
  color: var(--perpale);
}
.user .post {
  font-size: 1.5rem;
  font-weight: lighter;
}
/* share links */
.share i {
  color: var(--perpale);
  margin: 1rem;
  font-size: 3rem;
  border: none;
  outline: none;
}
.horizontal-line{
  display: none;
}
.navbar .menu {
  display: block;
  padding: 0.5rem;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: background-color 0.2s linear;
  width: 20rem;
  margin: 1rem 0;
}
.navbar .menu:hover {
  background-color: var(--bodycolor);
  color: #555;
}
.nav-btn {
  display: none;
  cursor: pointer;
  padding: 5px;
  border: none;
  color: var(--perpale);
  font-size: 20px;
  opacity: 1;
}
