.project-section {
  height: 48rem;
  width: 75rem;
  scroll-behavior: smooth;
  overflow-y: auto;
  padding: 1rem 5%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 3rem 0 3rem 13rem;
  background-color: var(--sectioncol);
}
.project-section::-webkit-scrollbar {
  width: 10px;
}
.project-section::-webkit-scrollbar-thumb {
  background: var(--perpale);
  border-radius: 5px;
}
.project-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.project-section::-webkit-scrollbar-track {
  background: var(--bodycolor);
}
.project-heading{
  text-align: start;
  font-size: 20px;
  margin: 10px 0;
  border-bottom: 1px solid var(--perpale);
  padding-bottom: 5px;
}
.project-container ul {
  margin-top: 20px;
}
.project-container ul li {
  list-style: none;
}
.project-details {
  font-size: 2rem;
  color: var(--perpale);
  margin-bottom: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.project-details:hover {
  color: var(--bodycolor);
  color: #555;
  cursor: pointer;
}
.project-details p {
  font-size: 1.4rem;
  padding: 0 50px;
  color: black;
  line-height: 1.5;
  font-size: 16px;
}
.project-details p a {
  color: blue;
}
.techstack-spanTag {
  color: var(--perpale);
  font-size: 1.5rem;
}
