#about {
  scroll-behavior: smooth;
  overflow-y: auto;
}
.name span {
  font-size: 2rem;
}
.about .content h3 {
  font-size: 1.5rem;
  color: black;
}
.about .content h3 span {
  color: var(--perpale);
  font-size: 3rem;
}
.about .content p {
  font-size: 1.5rem;
  font-style: italic;
  padding: 0.5rem 0;
}
.about .skills {
  padding: 0.5rem 0;
}
.about .skills .progress {
  margin: 1rem 0;
  padding: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: var(--navbg);
  border-radius: 0.5rem;
}
.about .skills .progress h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--black);
}
.about .skills .progress .bar {
  position: relative;
  width: 100%;
  height: 0.3rem;
  margin: 1rem 0;
  background: white;
}
.about .skills .progress .bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: green;
}
.about .skills .progress:nth-child(1) .bar span {
  width: 65%;
}
.about .skills .progress:nth-child(2) .bar span {
  width: 75%;
}
.about .skills .progress:nth-child(3) .bar span {
  width: 70%;
}
.about .skills .progress:nth-child(4) .bar span {
  width: 70%;
}
.about .skills .progress:nth-child(5) .bar span {
  width: 80%;
}
.about .skills .progress:nth-child(6) .bar span {
  width: 70%;
}
.about .skills .progress:nth-child(7) .bar span {
  width: 80%;
}
.about .skills .progress:nth-child(8) .bar span {
  width: 70%;
}
.about .skills .progress:nth-child(9) .bar span {
  width: 90%;
}
.about .skills .progress:nth-child(10) .bar span {
  width: 80%;
}
.about .skills .progress:nth-child(11) .bar span {
  width: 75%;
}
.about .skills .progress:nth-child(12) .bar span {
  width: 60%;
}
