
.project{
    min-height: 50vh;
    padding: 1rem 5%;
    width: 80rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    border-radius: 1rem;
    overflow: hidden;
    margin: 3rem 0 3rem 13rem;
    background-color: var(--sectioncol);
}
.lag ul li{
    margin-top:1.5rem;
    /* font-size: 3rem; */
}

.lag ul li a{
    padding: 5px;
font-size: 1.5rem;
color: var(--perpale);
}
.lag ul li a p{
    
font-size: 1.5rem;
color: var(--perpale);
}

