:root {
  --perpale: #662e9b;
  --black: black;
  --sectioncol: #ffffff;
  --navbg: #f0efeb;
  --bodycolor: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: 500;
}
html {
  font-size: 62.5%;
}
body {
  padding-left: 30rem;
  background-color: #555;
}
.heading {
  color: var(--perpale);
  font-weight: 500;
}
section {
  padding: 1rem 5%;
  height: 48rem;
  width: 75rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  margin: 3rem 0 3rem 13rem;
  background-color: var(--sectioncol);
}
.btn {
  font-size: 2rem;
  padding: 0.7rem 4rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin: 2rem;
  cursor: pointer;
  transition: 0.2s linear;
}
.btn:hover {
  background-color: var(--bodycolor);
  color: #555;
}
.heading {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}

/* media query for mobile device */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
  body {
    overflow-x: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box !important;
    background-color: var(--sectioncol) !important;
    scroll-behavior: smooth !important;
    overflow-y: auto !important;
  }
  .header-container {
    border-radius: 0% !important;
    position: static !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    display: initial !important;
    padding: 40px 0 !important;
    margin: 20px 0 !important;
    width: 100% !important;
    height: 35vh !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative;
    box-shadow: none !important;
  }
  .horizontal-line {
    display: block !important;
    border-bottom: 3px solid var(--perpale) !important;
    margin: 0px auto !important;
    width: 80% !important;
  }
  .header-container .share {
    display: flex;
    align-items: center;
  }
  .nav-btn {
    display: block !important;
    opacity: 1 !important;
    color: var(--perpale) !important;
    font-size: 3rem !important;
    padding: 0 !important;
    margin: 8px 0 0 7px;
  }
  .navbar {
    background-color: var(--sectioncol);
    position: fixed;
    top: 0;
    left: 0;
    height: 40vh;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .menu {
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .responsive_nav {
    transform: none;
  }
  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  section {
    width: 100%;
    margin: 0 !important;
    position: fixed;
    box-shadow: none;
  }
  .home_page {
    display: initial !important;
    padding: 0 20px !important;
    border-radius: 0% !important;
    box-shadow: none !important;
  }
  .home_content {
    margin: 10px !important;
  }
  .name span {
    font-size: 2rem !important;
    color: var(--perpale);
  }
  .home_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px !important;
    width: 100% !important;
  }
  #about {
    padding-bottom: 70px !important;
  }
  .education {
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 50px !important;
  }
  .education .box-container {
    padding: 0 0 4rem 4rem !important;
  }
  .icons-container .icons span,
  h3,
  p {
    padding-left: 1rem !important;
  }
  .contact {
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 90px !important;
  }
  .contact-form {
    width: 100% !important;
  }
  .project-section {
    margin: 0 !important;
    width: 100% !important;
    position: fixed;
    box-shadow: none !important;
    padding-bottom: 80px !important;
  }
  .project-details {
    margin-bottom: 10px;
    width: 100% !important;
    padding: 0 20px !important;
  }
}
