.icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.icons-container .icons {
  flex: 1 1 20rem;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.icons-container .icons span {
  line-height: 5rem;
  font-size: 4rem;
  background: var(--main-color);
  color: var(--perpale);
  border-radius: 50%;
}
.icons-container .icons h3 {
  color: #111;
  font-size: 1.5rem;
}
.icons-container .icons p {
  font-size: 1.3rem;
}
.contact-form {
  margin-top: 20px;
  width: 40rem;
}
.contact-form input {
  width: 100%;
  height: 30px;
  padding: 3px;
  margin: 3px;
  border: 1px solid var(--perpale);
  border-radius: 5px;
}
.contact-form textarea {
  width: 100%;
  height: 50px;
  padding: 3px;
  margin: 3px;
  border: 1px solid var(--perpale);
}
.form-btn {
  background-color: var(--perpale);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.form-btn:hover {
  background-color: var(--bodycolor);
  color: #555;
  border: none;
  outline: none;
}
